.banner-hilight {
    height: 65vh!important;
    position: relative;
    width: 100%;
    .banner-hilight-services {
        background: url(../../images/all-service/all-service-banner.jpg) no-repeat center center/cover;
        object-fit: cover;
        height: 100%;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }
    .services-form {
        z-index: 99;
        position: absolute;
        bottom: 0;
        left: 50%;
        max-width: 1140px;
        width: 100%;
        transform: translate(-50%, 50%);
        &__inner {
            padding: 3rem 4rem;
            background: $c-default;
            .dropdown {
                &:focus {
                    background: #fff!important;
                }
                &-toggle {
                    background: #fff;
                    width: 100%;
                    text-align: start;
                    position: relative;
                    padding: 1.75rem 2rem;
                    &::after {
                        display: none;
                    }
                    h5 {
                        font-size: 1.6rem;
                        font-weight: 300;
                        margin: 0;
                    }
                    h5::after {
                        position: absolute;
                        content: '\f107';
                        font-family: "FontAwesome";
                        border: none;
                        font-size: $fs-default;
                        right: 1rem;
                        top: 50%;
                        transform: translateY(-50%);
                        color: $c-primary;
                    }
                }
                &-menu {
                    width: 100%;
                    border-top: 1px solid #838383;
                    max-height: 17rem;
                    overflow-y: scroll;
                    box-shadow: 0 0 10px 0 rgba(#000, 0.1);
                    a {
                        font-size: 1.6rem;
                    }
                }
            }
            .form-group {
                height: 100%;
                margin: 0;
                display: flex;
                align-items: center;
                .form-control {
                    font-size: 1.6rem;
                    height: 100%;
                    &::placeholder {
                        font-size: 1.6rem;
                        color: rgba(#000, 0.3);
                    }
                }
            }
            .button-contact {
                height: 100%;
                display: flex;
                align-items: center;
                a {
                    margin: 0;
                    font-size: 1.4rem!important;
                }
            }
        }
    }
}

.body-services {
    .services-buy-dashboard {
        background: #f4f5f9;
        padding-top: 9rem;
    }
    .services-support {
        &-inner {
            .support-content {
                width: 49rem;
                p {
                    font-size: 1.6rem;
                    color: $c-font;
                    line-height: 2.8rem;
                }
            }
            .support-img {
                img {
                    width: auto;
                    height: 100%;
                    max-height: 100%;
                }
            }
        }
    }
    .services-support-2 {
        background: #f4f5f9;
        &-inner {
            .support-content {
                width: 49rem;
                margin: 0 auto;
                padding-left: 2rem;
                p {
                    font-size: 1.6rem;
                    color: $c-font;
                    line-height: 2.8rem;
                }
                .support-list {
                    h5 {
                        font-size: 1.6rem;
                        color: $c-font;
                    }
                    ul {
                        li {
                            list-style: none;
                            padding-top: 1rem;
                            font-size: 1.6rem;
                            color: $c-font;
                            padding-left: 3rem;
                            line-height: 3rem;
                            position: relative;
                            &::before {
                                left: 0;
                                bottom: 0;
                                // transform: translateY(-50%);
                                position: absolute;
                                content: '\f00c';
                                font-size: 1.6rem;
                                color: $c-seemore;
                                font-family: $font-awesome;
                                padding-left: -2rem;
                            }
                        }
                    }
                }
            }
            .support-img {
                img {
                    width: 100%;
                    height: 100%;
                    max-height: 100%;
                    max-width: 100%;
                }
            }
        }
    }
    .services-support-3 {
        background: #303339;
        color: #fff;
        .services-support-inner {
            .support-content {
                h1 {
                    color: #fff;
                }
                p {
                    color: #fff;
                }
            }
            .support-img {
                img {
                    width: 100%;
                    max-width: 100%;
                    height: 100%;
                    max-height: 100%;
                }
            }
        }
    }
    .preview-special {
        background: $c-primary!important;
        .preview-inner {
            color: #fff;
        }
    }
}

@media (max-width: 767px) {
    .banner-hilight {
        height: 80vh!important;
        position: relative;
        .banner-services-content {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            .services-form {
                position: relative;
                bottom: 0;
                left: 0;
                width: 100%;
                transform: translate(0, 0);
                &__inner {
                    padding: 3rem 4rem;
                    background: transparent;
                    .dropdown {
                        &-1 {
                            z-index: 100;
                        }
                        &-2 {
                            z-index: 90;
                            margin-top: 1rem;
                        }
                    }
                    .form-group {
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                    }
                    .button-contact {
                        padding: 1.5rem 2rem;
                        margin-top: 2rem;
                        display: inline-flex;
                        align-items: center;
                        align-self: center;
                    }
                }
            }
        }
    }
    .body-services {
        .services-buy-dashboard {
            padding-top: 3rem;
        }
        .services-support {
            &-inner {
                .support-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%!important;
                    h1 {
                        text-align: center;
                    }
                    p {
                        text-align: center;
                    }
                }
                .support-img {
                    margin-top: 2rem;
                    text-align: center;
                }
            }
        }
        .services-support-2 {
            background: #f4f5f9;
            &-inner {
                .support-content {
                    width: 100%!important;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    h1 {
                        text-align: center;
                    }
                    .support-list {
                        h5 {
                            text-align: center;
                            font-size: 1.6rem;
                            color: $c-font;
                        }
                    }
                }
                .support-img {
                    margin-top: 2rem;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .banner-hilight {
        position: relative;
        .banner-services-content {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            .services-form {
                position: relative;
                bottom: 0;
                left: 0;
                width: 100%;
                transform: translate(0, 0);
                &__inner {
                    margin-top: 2rem;
                    background: transparent;
                    padding: 0;
                    .button-contact {
                        padding: 2rem 2rem;
                        display: inline-flex;
                        align-items: center;
                        align-self: center;
                        a {
                            font-size: 1.2rem!important;
                        }
                    }
                }
            }
        }
    }
    .body-services {
        .services-buy-dashboard {
            padding-top: 3rem;
        }
        .services-support {
            &-inner {
                .support-content {
                    width: 100%!important;
                }
            }
        }
        .services-support-2 {
            &-inner {
                .support-content {
                    width: 100%!important;
                }
            }
        }
    }
}