//COLOR TU PHUONG
$c-primary: #2158a8;
$c-default: #30333a;
$c-font: #444c59;
$c-font-down: #838383;
$c-seemore: #14406B;
$c-hotline: #00a6bd;
$c-footer: #000111;
//FONT-SIZE
$fs-smallest: 1rem;
$fs-small: 1.2rem;
$fs-primary: 1.4rem;
$fs-default: 1.8rem;
$fs-larger: 2.4rem;
$fs-huge: 4rem;
//FS HEADER
//FONT-FAMILY
$font-primary: 'Noto Sans KR',
sans-serif;
$font-default: 'Playfair Display',
serif;
// $font-default: "SFU Eurostile ExtendedTwo";
$font-awesome: "FontAwesome";